.build-page {
  pre.trace {
    background: #111;
    color: #fff;
    font-family: $monospace_font;
    white-space: pre-wrap;
    overflow: auto;
    overflow-y: hidden;
    font-size: 12px;

    .fa-refresh {
      font-size: 24px;
      margin-left: 20px;
    }
  }

  .autoscroll-container {
    position: fixed;
    bottom: 20px;
    right: 20px;
    z-index: 100;
  }

  .scroll-controls {
    &.affix-top {
      position: absolute;
      top: 10px;
      right: 25px;
    }

    &.affix-bottom {
      position: absolute;
      right: 25px;
    }

    &.affix {
      right: 30px;
      bottom: 15px;
      z-index: 1;

      @media (min-width: $screen-md-min) {
        right: 26%;
      }
    }

    a {
      display: block;
      margin-bottom: 10px;
    }
  }

  .page-sidebar-collapsed {
    .scroll-controls {
      left: 70px;
    }
  }
}

.build-header {
  position: relative;
  padding-right: 40px;

  @media (min-width: $screen-sm-min) {
    padding-right: 0;
  }

  a {
    color: $gl-gray;

    &:hover {
      color: $gl-link-color;
      text-decoration: none;
    }
  }

  code {
    color: $code-color;
  }

  .avatar {
    float: none;
    margin-right: 2px;
    margin-left: 2px;
  }
}

.build-trace {
  background: $ci-output-bg;
  color: $ci-text-color;
  white-space: pre;
  overflow-x: auto;
  font-size: 12px;

  .fa-refresh {
    font-size: 24px;
  }

  .bash {
    display: block;
  }
}

.right-sidebar.build-sidebar {
  padding: $gl-padding 0;

  &.right-sidebar-collapsed {
    display: none;
  }

  .blocks-container {
    padding: 0 $gl-padding;
  }

  .block {
    width: 100%;
  }

  .js-build-variable {
    color: $code-color;
  }

  .js-build-value {
    padding: 2px 4px;
    color: $black;
    background-color: $white-light;
  }

  .build-sidebar-header {
    padding: 0 $gl-padding $gl-padding;

    .gutter-toggle {
      margin-top: 0;
    }
  }

  .retry-link {
    color: $gl-link-color;
    &:hover {
      text-decoration: underline;
    }
  }

  .stage-item {
    cursor: pointer;

    &:hover {
      color: $gl-text-color;
    }
  }

  .build-dropdown {
    padding: $gl-padding 0;

    .dropdown-menu-toggle {
      margin-top: 8px;
    }

    .dropdown-menu {
      right: $gl-padding;
      left: $gl-padding;
      width: auto;
    }
  }

  .builds-container {
    background-color: $white-light;
    border-top: 1px solid $border-color;
    border-bottom: 1px solid $border-color;
    max-height: 300px;
    overflow: auto;

    svg {
      position: relative;
      top: 2px;
      margin-right: 3px;
      height: 13px;
    }

    a {
      display: block;
      padding: $gl-padding 10px $gl-padding 40px;
      width: 270px;
      white-space: nowrap;
      overflow: hidden;
      text-overflow: ellipsis;

      &:hover {
        color: $gl-text-color;
      }
    }

    .build-job {
      position: relative;

      .fa {
        position: absolute;
        left: 15px;
        top: 20px;
        display: none;
      }

      &.active {
        font-weight: bold;

        .fa {
          display: block;
        }
      }

      &:hover {
        background-color: $row-hover;
      }
    }
  }
}

.build-detail-row {
  margin-bottom: 5px;
}

.build-light-text {
  color: $gl-placeholder-color;
}

.build-gutter-toggle {
  position: absolute;
  top: 50%;
  right: 0;
  margin-top: -17px;
}
